*{
    margin: 0px;
    padding: 0px;
}

img{
    max-width:400px;
    width: auto;
    max-height: 400px;
    height:auto;
}
.contenedor{
    height: 100%;
}
.tablas{
    color: white;
    background: linear-gradient(62deg, #000 0%, #181719 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tablas div{
    text-align: center;
}
.campo{
    background: linear-gradient(62deg,#2E7D32,#006600 ,#2E7D32 );
    min-height: calc(100vh - 230px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.botones{
height: 155px;
background: linear-gradient(62deg, #000 0%, #181719 100%);
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}
.botones div{
    height:auto;
}

button{
    margin: 10px;
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 2em;
    box-shadow: 2px 2px 5px 10px rgba(0,0,0,.5);
}

.btn-piedra{
    border-radius: 50%;
}
.btn-papel{
    border-radius: 50%;
}
.btn-tijera{
    border-radius: 50%;
}

@media screen and (min-width:340px){
    .tablas div h1{
        font-size: 1.5rem;
    }
    img{
        max-width:105px;
        max-height: 105px;

    } 

    .campo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}
@media screen and (min-width:460px){

    img{
        max-width:190px;
        max-height: 190px;

    }  

    .campo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width:768px){
    img{
        max-width:255px;
        max-height: 255px;
    }  

    .campo{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width:1190px) {

    img{
        max-width:400px;
        width: auto;
        max-height: 400px;
        height:auto;
    }   
}